    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
        font-family: 'Roboto Condensed', sans-serif;
    }
    
    body {
        background-color: #fafafa;
        width: 100%;
        height: 100%;
    }
    
    .navbar {
        background-color: #fff;
        padding: 26px 140px;
        margin-bottom: 60px;
        border-bottom: 1px solid #efefef;
    }
    
    .navbar h1 {
        background-color: #fff;
        font-size: 21px;
    }
    
    #main {
        height: 100%;
        width: 100%;
        padding: 0px 140px;
    }
    
    .main-header {
        background-color: #fff;
        padding: 20px 16px;
        border: 1px solid #dbdbdb;
    }
    
    .main-header h3,
    .main-header h3 a {
        background-color: #fff;
    }
    
    .main-content {
        width: 100%;
        display: flex;
    }
    
    .content-body {
        padding: 10px 32px;
        width: 100%;
        background-color: #fff;
        border: 1px solid #dbdbdb;
        border-top: none;
    }
    
    .main-h3a a {
        color: #999;
        text-decoration: none;
    }
    
    .main-h3a a:active {
        color: #999;
    }
    
    .footer-body {
        margin-top: 50px;
        text-align: center;
    }
    
    input,
    select {
        padding: 15px 8px;
        width: 282px;
        height: 20px;
        border: 1px solid #dddfe2;
        ;
    }
    
    .hood {
        margin-top: 20px;
        font-weight: 700;
    }
    
    .bodypone {
        margin-top: 10px;
    }
    
    .username-explanation,
    .email-explanation {
        margin-top: 7px;
        color: #90949c;
        font-size: 12px;
    }
    
    .submitbtn {
        border-radius: 4px;
        margin-top: 20px;
        margin-bottom: 50px;
        padding: 10px;
        cursor: pointer;
        background-color: #4267b2;
        color: #fff;
        border: 1px solid;
    }
    
    .submitbtn:hover {
        background-color: #365899;
    }
    
    #barsbtn {
        display: none;
    }
    
    #barsbtn i {
        color: black;
    }
    
    .resposide {
        position: absolute;
        width: 25%;
        height: 100%;
    }
    
    .resposide {
        background-color: #fff;
        display: none;
        border: 1px solid #dbdbdb;
    }
    
    .navh1 {
        display: flex;
    }
    
    .fileupload {
        padding-top: 5px;
        padding-bottom: 25px;
    }
    
    .frmname {
        margin-bottom: 20px;
    }
    
    #category {
        padding-bottom: 5px;
        padding-top: 5px;
        height: 40px;
    }
    
    @media only screen and (max-width: 1050px) {
        #barsbtn {
            display: block;
        }
        .content-body {
            width: 100%;
            border-left: 1px solid #dbdbdb;
        }
    }
    
    @media only screen and (max-width:880px) {
        #main {
            padding: 0px 100px;
        }
        .navbar {
            padding: 20px 100px;
        }
        #barsbtn {
            display: block;
        }
    }
    
    @media only screen and (max-width:740px) {
        #main {
            padding: 0px 60px;
        }
        .navbar {
            padding: 18px 60px;
        }
        #barsbtn {
            display: block;
        }
    }