* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #fafafa;
}

body {
    background-color: #fafafa;
    width: 100%;
    height: 100%;
}

.navbar {
    background-color: #fff;
    padding: 26px 140px;
    margin-bottom: 60px;
    border-bottom: 1px solid #efefef;
}

.navbar h1 {
    background-color: #fff;
    font-size: 21px;
}

#main {
    height: 100%;
    width: 100%;
    padding: 0px 140px;
}

.main-header {
    background-color: #fff;
    padding: 20px 16px;
    border: 1px solid #dbdbdb;
}

.main-header h3,
.main-header h3 a {
    background-color: #fff;
}

.main-content {
    width: 100%;
    display: flex;
}

.main-ul {
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.main-ul li {
    background-color: #fff;
    display: block;
    list-style-type: none;
}

.main-ul li a {
    color: #262626;
    border-left: 2px solid #fff;
    background-color: #fff;
    display: block;
    text-decoration: none;
    padding: 16px;
}

.main-ul li a:active {
    color: #262626;
}

.main-ul li a:hover {
    border-left: 2px solid #dbdbdb;
}

.main-side {
    background-color: #fff;
    width: 25%;
    border: 1px solid #dbdbdb;
    border-top: none;
}

.content-body {
    padding: 10px 32px;
    width: 75%;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-left: none;
    border-top: none;
}

.main-h3a a {
    color: #999;
    text-decoration: none;
}

.main-h3a a:active {
    color: #999;
}

.footer-body {
    margin-top: 50px;
    text-align: center;
}

input {
    padding: 0px 8px;
    width: 282px;
    height: 20px;
    border: 1px solid #dddfe2;
    ;
}

.hood {
    margin-top: 20px;
    font-weight: 700;
}

.bodypone {
    margin-top: 10px;
}

.username-explanation,
.email-explanation {
    margin-top: 7px;
    color: #90949c;
    font-size: 12px;
}

.submitbtn {
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 10px;
    cursor: pointer;
    background-color: #4267b2;
    color: #fff;
    border: 1px solid;
}

.submitbtn:hover {
    background-color: #365899;
}

.itemjs {
    border-color: black;
}

.itemjs:hover {
    border-color: black;
}